<div>
            
  <ul class="space-y-10">
    <li class="flex items-start gap-3">
      <img src="https://picsum.photos/id/0/144/80" class="w-36 rounded object-cover" />
      <p class="text-xl text-gray-800 leading-tight hover:underline cursor-pointer line-clamp-3">
        6 web design trends to watch in 2025
      </p>
    </li>
    <li class="flex items-start gap-3">
      <img src="https://picsum.photos/id/1/144/80" class="w-36 rounded object-cover" />
      <p class="text-xl text-gray-800 leading-tight hover:underline cursor-pointer line-clamp-3">
        How to develop motion design principles
      </p>
    </li>
    <li class="flex items-start gap-3">
      <img src="https://picsum.photos/id/2/144/80" class="w-36 rounded object-cover" />
      <p class="text-xl text-gray-800 leading-tight hover:underline cursor-pointer line-clamp-3">
        Introducing the next generation of CMS Full Form Apps and updates to our developer platform
      </p>
    </li>
    <li class="flex items-start gap-3">
      <img src="https://picsum.photos/id/3/144/80" class="w-36 rounded object-cover" />
      <p class="text-xl text-gray-800 leading-tight hover:underline cursor-pointer line-clamp-3">
        11 best fonts for web design
      </p>
    </li>

  </ul>
</div>